.post {
    margin: 4rem;
    padding: 1rem;
    background-color: #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: white;
    margin-left: 12%;
    width: 75%;
  }
  
  .post h2 {
    font-size: 2rem;
    color: #f7e702;
  }

  .post h1 {
    font-size: 2rem;
    color: #f7e702;
  }

  li:hover{
    cursor: pointer;
  }

  